@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    max-width: 1024px;
    padding: 10px 25px;
    position: relative; /* Ensure body is the positioning context */
    margin: 0 auto; /* Center the body within the viewport */
}

.modal-button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: fixed; /* Fixed to viewport but within body's max-width */
    bottom: 10px;
    right: calc((100vw - 1024px) / 2 + 10px); /* Align with body's right side */
}

.ant-tabs-nav{
    margin-bottom: 32px !important;
}

.ant-table-row{
   height: 65px !important;
}

/* Container for dropdown */
.custom-dropdown {
    border-radius: 8px;
    background-color: transparent;
}

.custom-dropdown .ant-dropdown-menu-item{
    padding: 5px 0 !important;
}
  
  /* Budget Link Style */
  .dropdown-link {
    color: #722ED1 !important;
    font-size: 14px;
    padding: 8px 12px;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #722ED1;
    border-radius: 4px;
    transition: all 0.3s;
  }
  
  .dropdown-link:hover {
    background-color: #722ED1;
    color: white !important;
  }
  
  /* Logout Button Style */
  .logout-button {
    background-color: #ff4d4f;
    border-radius: 4px;
    width: 100%;
    font-weight: 500;
    margin-top: 12px;
  }
  
  .logout-button:hover {
    background-color: #ff7875;
  }

  .budget-remain{
    font-size: 19px;
    font-weight: 500;
  }

  .budget-month{
    font-size: 19px;
  }